Repository 4201VitruvianBots/Reefscape2025, pull requests merged in 2025-02, with the labels that each got.

#38 Ground dropdown
  src/main/java/frc/robot/commands/ground/GroundDropdownControlMode.java
  src/main/java/frc/robot/commands/ground/GroundDropdownSetpoint.java
  src/main/java/frc/robot/constants/CAN.java
  src/main/java/frc/robot/constants/GROUND.java
  src/main/java/frc/robot/subsystems/GroundDropdown.java
Labels: Ground

#48 Finished the task
  src/main/java/frc/robot/commands/SetHopperIntake.java
  src/main/java/frc/robot/subsystems/HopperIntake.java
Labels: L2-L4

#54 Ground Intake stuff :p
  src/main/java/frc/robot/commands/SetHopperIntake.java
  src/main/java/frc/robot/commands/ground/SetGroundIntake.java
  src/main/java/frc/robot/constants/GROUND.java
  src/main/java/frc/robot/constants/HOPPERINTAKE.java
  src/main/java/frc/robot/subsystems/GroundIntake.java
  src/main/java/frc/robot/subsystems/HopperIntake.java
Labels: Ground

#80 Beam break sensor done :p
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/HopperIntake.java
Labels: L2-L4

#82 elevatorrrr
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/ToggleGamePiece.java
  src/main/java/frc/robot/commands/elevator/SetElevatorSetpoint.java
  src/main/java/frc/robot/constants/ELEVATOR.java
  src/main/java/frc/robot/constants/ROBOT.java
  src/main/java/frc/robot/subsystems/Elevator.java
Labels: L2-L4

#84 Pull Req. for the work I've done so far.
  src/main/java/frc/robot/commands/led/GetSubsystemStates.java
  src/main/java/frc/robot/constants/CAN.java
  src/main/java/frc/robot/constants/LED.java
  src/main/java/frc/robot/subsystems/LEDSubsystem.java
  vendordeps/Phoenix5-frc2025-latest.json
Labels: LEDs

#103 deleted climber intake
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/RunClimberIntake.java
  src/main/java/frc/robot/constants/CLIMBER.java
  src/main/java/frc/robot/subsystems/ClimberIntake.java
  vendordeps/PathplannerLib-2025.2.3.json
  vendordeps/Phoenix6-25.3.0.json
Labels: Climber

#107 Hopper Servo ready for testing
  src/main/java/frc/robot/commands/climber/SetClimberSetpoint.java
  src/main/java/frc/robot/constants/CLIMBER.java
  src/main/java/frc/robot/subsystems/Climber.java
Labels: Climber
