Repository 4201VitruvianBots/Reefscape2025, pull requests merged in 2025-01, with the labels that each got.

#11 CoralOuttake AlphaBot
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/RunCoralOuttake.java
  src/main/java/frc/robot/constants/CAN.java
  src/main/java/frc/robot/constants/CORALOUTTAKE.java
  src/main/java/frc/robot/constants/ELEVATOR.java
  src/main/java/frc/robot/generated/TunerConstants.java
  src/main/java/frc/robot/subsystems/CommandSwerveDrivetrain.java
  src/main/java/frc/robot/subsystems/CoralOuttake.java
  src/main/java/frc/robot/subsystems/Elevator.java
  src/main/java/frc/robot/utils/CtreUtils.java
Labels: Coral

#21 DriveForward auto
  src/main/deploy/pathplanner/paths/DriveForward.path
  src/main/deploy/pathplanner/paths/New Path.path
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveForward.java
  src/main/java/frc/robot/constants/CORALOUTTAKE.java
  src/main/java/frc/robot/constants/SWERVE.java
  src/main/java/frc/robot/subsystems/CommandSwerveDrivetrain.java
  src/main/java/frc/robot/subsystems/Controls.java
  src/main/java/frc/robot/subsystems/CoralOuttake.java
  src/main/java/frc/robot/subsystems/Elevator.java
  src/main/java/frc/robot/utils/CtreUtils.java
  vendordeps/PathplannerLib-2025.2.1.json
Labels: Drivetrain/Autos

#36 Elevator :3
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/RunElevatorJoystick.java
  src/main/java/frc/robot/commands/SetElevatorSetpoint.java
  src/main/java/frc/robot/constants/ALPHABOTCAN.java
  src/main/java/frc/robot/constants/ELEVATOR.java
  src/main/java/frc/robot/subsystems/Elevator.java
Labels: L2-L4

#35 26 Hopper Intake Outline
  src/main/java/frc/robot/constants/HOPPERINTAKE.java
  src/main/java/frc/robot/constants/V2CAN.java
  src/main/java/frc/robot/subsystems/HopperIntake.java
Labels: L2-L4
